.postHead, .article {
  margin-bottom: 5px;
  padding: 10px;
  display:flex;
  justify-content:space-between;
}

.postHead span {
  margin: 15px;
  width: 125px;
  text-align: right;
}

.article {
  text-align: justify;
}

.postImg {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.postImg img {
  width: 100%;
  border-radius: 5px;
}

.content {
  width: 80%;
  margin: auto;
}

.content img {
  width: 100%;
}
